* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*=========================================================================BACKGROUND SECTION - START================================================================================================*/
/*
======================
Background Video Section
======================
*/

/*Background Div Start*/
#Background-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
/*Background Div End*/

/*Background Video Start*/
#Background-Video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index:0;
}
/*Background Video End*/

/*
======================
Background Video Section End
======================
*/


/*
======================
Wings Section Start
======================
*/

#Left_GL,
#Right_GL {
  opacity: 1;
  z-index: 1;
  filter: brightness(100%);
}

@media screen and (max-width: 1870px) {
  #Left_GL {
    visibility: hidden;
  }
  #Right_GL {
    visibility: hidden;
  }

  #Crown_Pic img {
    visibility: visible;
    width: 300px;
    position: absolute;
    top: 3%;
    left: 35%;
    filter: drop-shadow(0px 10px 12px gold);
    transform:scale(.75);
  }
  
  
  
  
}
  
  
@media screen and (min-width: 1878px) {
  #Left_GL {
    position: absolute;
    top: 36%;
    left: 25%;
    transform:scale(1.5,2);
    filter: drop-shadow(10px 10px 12px gold);
  }

  #Right_GL {
    position: absolute;
    top: 36%;
    left: 65%;
    transform:scale(1.5,2);
    filter: drop-shadow(10px 10px 12px gold);
  }
  #Crown_Pic img {
    visibility: visible;
    width:300px;
    position: absolute;
    top: 3%;
    left: 42%;
    filter: drop-shadow(0px 10px 12px gold);
    transform:scale(.75);
    
  }
}

/*
======================
Wings Section End
======================
*/

/*=========================================================================BACKGROUND SECTION - END================================================================================================*/



/*
=========================
Glass Panel Start
=========================
*/

#Glass_Player_Wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)  scale(.60);
  position: fixed;
  width: 800px;
  height: 900px;
  background: linear-gradient(rgb(183, 9, 76),rgb(160, 26, 88),rgb(137, 43, 100),rgb(114, 60, 112),rgb(92, 77, 125),rgb(69, 94, 137),rgb(69, 94, 137),rgb(23, 128, 161),rgb(0, 145, 173));
  border-radius: 10px;
  z-index: 1;
}
/*
=========================
Glass Panel End
=========================
*/

/*
======================
Creating Diamond Start
======================
*/

#Tri_1 {
  top: 10.5%;
  left: 32%;
}
#Tri_2 {
 top: 10.5%;
 left: 40.5%;
 transform: rotate(180deg);
}
#Tri_3 {
  top: 10.5%;
  left: 49%;
}

#Tri_4 {
  top: 19.5%;
  left: 33%;
  transform: translate(-50%, -50%);
  transform: rotate(180deg);
}

#Tri_1,
#Tri_2,
#Tri_3 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 75px solid gold;
  opacity: 0.6;
  filter: drop-shadow(10px 10px 12px gold);
}

#Tri_4 {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  border-bottom: 135px solid gold;
  opacity: 0.7;
  filter: drop-shadow(10px 10px 12px gold);
}

/*
======================
Creating Diamond End
======================
*/


/*=========================================================================ARTIST INFO SECTION - START================================================================================================*/

/*
=========================
Artist Pic Section Start
=========================
*/

#Artist_Pic {
  top: 11%;
  left: 38.5%;
  position: absolute;
  width:150px;
  height:150px;
  border-radius:50%;
  border: 4px solid black;
  z-index: 3;
}

/*
======================
Artist Pic Section End
======================
*/


/*
=============================
Artist-Img Hover Effect Start
=============================
*/
#Artist_Pic:hover {
  filter: drop-shadow(10px 10px 12px yellow);
  transform: scale(1.2, 1.2);
  cursor: pointer;
  border-radius:50%;
  transition: 0.5s;
}


/*
=============================
Artist-Img Hover Effect Start
=============================
*/

/*
=============================
Artist-Name Display Area Start
=============================
*/


#Artist_Name {
  position: absolute;
  width: 300px;
  height: 50px;
  background: hsl(211, 39%, 23%);
  color:gold;
  opacity: 1;
  text-align:center;
  font-size:35px;
  font-weight: bold;
  top: 2%;
  left: 31%;
  z-index: 1;
  border: 4px solid black;
  text-transform: uppercase;
  
}

#Artist_Name:hover{
  transition:.5s;
  transform:scale(1.2);
  
}
/*
=============================
Artist-Name Display Area Start
=============================
*/

/*=========================================================================ARTIST INFO SECTION - END===============================================================================================================*/

/*=========================================================================TRACK NAME AND ALBUM PIC SECTION - START================================================================================================*/
#Album_Pic_Area{
  background-color: rgb(221, 157, 39);
  position: absolute;
  bottom: 20%;
  left: 23%;
  width: 400px;
  height: 350px;
  border: 3px solid black;
  border-radius: 5px;
  opacity: 1;
}


#Album_Pic{
  object-fit:fill;
  width:400px;
  height:345px;
  border: 5px solid gold;
  filter: brightness(125%);
}

/*DISPLAYING TRACK NAME WHEN HOVERING ON ALBUM PIC - Start*/
#Track_Name{
  visibility: hidden;
  
}

#Album_Pic_Area:hover #Track_Name {
  position:absolute;
  display:inline-block;
  visibility: visible;
  width: 387px;
  height:67px;
  top:78%;
  left: 1.5%;
  font-size:28px;
  font-weight:bold;
  background: hsl(211, 39%, 23%);
  color:gold;
  transition-duration: 0.5s;
  text-align:center;
  text-transform: uppercase;
  text-decoration: underline;
  border: 4px solid black;
  overflow:hidden;
}
/*DISPLAYING TRACK NAME WHEN HOVERING ON ALBUM PIC - END*/

/*=========================================================================TRACK NAME AND ALBUM PIC SECTION - End================================================================================================*/


/*MUSIC PLAYER AREA-START*/
#Music_Panel_Area{
   position:absolute;
   bottom:4%;
   left:27%;
   width:325px;
   height: 110px;
   background: linear-gradient(rgb(255, 136, 0),rgb(255, 162, 0),rgb(255, 183, 0),rgb(255, 221, 0),rgb(255, 234, 0));
   border-radius:25%;
   filter: drop-shadow(0px 10px 10px yellow);
}
  


audio{
  position: absolute;
  bottom:7%;
  left:28.5%;
  
}
/*MUSIC PLAYER AREA- END*/

/*Fire_Area - Start*/

#Fire_LT_Wrapper{
  position:absolute;
  top:25%;
  left:-70px;
  filter: drop-shadow(0px 10px 10px yellow);
}

#Fire_RT_Wrapper{
  position:absolute;
  top:25%;
  left:560px;
  filter: drop-shadow(0px 10px 10px yellow);
}

#Fire_LB_Wrapper{
  position:absolute;
  top:65%;
  left:-70px;
  filter: drop-shadow(0px 10px 10px yellow);
}

#Fire_RB_Wrapper{
  position:absolute;
  top:65%;
  left:560px;
  filter: drop-shadow(0px 10px 10px yellow);
}
/*Fire_Area - END*/


/*Lyrics_Area - START*/
#Lyrics_Link{
  position: absolute;
  top: 80%;
  left: 42%;
  letter-spacing:2px;
  background:red;
  z-index: 4;
  font-size:15px;  
  text-decoration: none;
  text-transform:uppercase;
  
}
/*Lyrics_Area - END*/
